{% extends "base.html" %}
{% block content %}
<div class="basin_ust">
    <a href="/basin/">Bültenler ve Görseller</a>
    <a href="/basin/2005/">Basında Pardus</a>
</div>
<div class="gorsel_kutusu">
    <img src="/media/resimler/basin/logotescil.png" alt="pardus logo" />
    <b>Pardus Tescilli Logoları</b>
    (JPG, EPS, PNG, SVG, AI)
    <hr/>
    <img src="/media/resimler/basin/cd2009gobek.png" alt="pardus 2009" />
    <b>Pardus 2009 CD Göbekleri</b>
    <b>Kurulan CD</b>
    <p>(JPG, EPS, PNG, SVG, AI)</p>
    <b>Çalışan CD</b>
    <p>(JPG, EPS, PNG, SVG, AI)</p>
    <hr/>
    <img src="/media/resimler/basin/banner.png" alt="pardus banner" />
    <b>Web Siteniz İçin</b>
    <p>Pardus Banner ve Düğmeleri</p>
</div>
<div class="basin_bultenleri">
    <h2>Pardus Basın Bültenleri</h2>
    <div class="basin_bulteni">
        <div class="basin_bulteni_baslik">Basın bülteni başlığı</div>
        <div class="basin_bulteni_tarih">01.01.2009</div>
    </div>
</div>
{% endblock %}
