{% extends "base.html" %}
{% block content %}
<div class="basin_ust">
    <div class="basin_ust_baslik basin_ust_baslik_secili"><a href="/basin/">Bültenler ve Görseller</a></div>
    <div class="basin_ust_baslik"><a href="/basin/2005/">Basında Pardus</a></div>
</div>
<div class="gorsel_kutusu">
    <div class="gorsel_kutusu_satir">
    <img src="/media/resimler/basin/logotescil.png" alt="pardus logo" />
    <div class="gorsel_kutusu_sag">
        <b>Pardus Tescilli Logoları</b><br />
        (JPG, EPS, PNG, SVG, AI)
    </div>
    </div>
    <div class="gorsel_kutusu_satir">
    <img src="/media/resimler/basin/cd2009gobek.png" alt="pardus 2009" />
    <div class="gorsel_kutusu_sag">
        <b>Pardus 2009 CD Göbekleri</b><br /><br />
        <b>Kurulan CD</b><br />
        <p>(JPG, EPS, PNG, SVG, AI)</p>
        <b>Çalışan CD</b><br />
        <p>(JPG, EPS, PNG, SVG, AI)</p>
    </div>
    </div>
    <div class="gorsel_kutusu_satir" style="padding-top:10px;">
        <img src="/media/resimler/basin/banner.png" alt="pardus banner" />
        <div style="clear:both;padding-top:10px;">
        <b>Web Siteniz İçin</b>
        <p>Pardus Banner ve Düğmeleri</p>
        </div>
    </div>
</div>
<div class="basin_bultenleri">
    <h2>Pardus Basın Bültenleri</h2>
    <div class="basin_bulteni">
        <div class="basin_bulteni_sol"><img src ="/media/resimler/basin/bultenler_ok.png"  alt="->" /></div>
        <div class="basin_bulteni_sag">
            <div class="basin_bulteni_baslik">Basın bülteni başlığı</div>
            <div class="basin_bulteni_tarih">01.01.2009</div>
        </div>
    </div>
    <div class="basin_bulteni">
        <div class="basin_bulteni_sol"><img src ="/media/resimler/basin/bultenler_ok.png"  alt="->" /></div>
        <div class="basin_bulteni_sag">
            <div class="basin_bulteni_baslik">Basın bülteni başlığı</div>
            <div class="basin_bulteni_tarih">01.01.2009</div>
        </div>
    </div>
</div>
{% endblock %}
