<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %} :: Pardus :: TÜBİTAK/UEKAE ::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="shortcut icon" href="/media/img/fav.png" />
    <link href="/media/css/stil.css" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="header"> <a class="parduslogo" href="/"></a>
  <div class="menu">
    <div class="linkler"> <a class="mUrun" href="/urunler/"></a> <a class="mHizmet" href="/hizmetler/"></a> <a class="mHakkinda" href="/hakkinda/"></a> </div>
    <a class="mDil" href="#"></a> </div>
</div>
<div id="wrapper">
<div id="container">
  <div class="main">
{% block content %}
{% endblock %}
  </div>
  <div class="sidebar"><a href="/indir/"><img src="/media/resimler/sidebar/indirdownload.png" /></a><br />
    <div class="search">
      <div class="aramabg"></div>
    </div>
    <div class="features">
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik"><a href="/kilavuz/">Kullanım Kılavuzu</a></span><br/>
          <span class="ftext">Free documentation and community support, or buy professional support</span> </div>
      </div>
      <div class="fayrac"></div>
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik"><a href="/destek/">Destek Alın</a></span><br/>
          <span class="ftext">Free documentation and community support, or buy professional support</span> </div>
      </div>
      <div class="fayrac"></div>
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik"><a href="/banner/">Pardus'u Tanıtın</a></span><br/>
          <span class="ftext">Free documentation and community support, or buy professional support</span> </div>
      </div>
    </div>
  </div>
</div>
<div class="linksbar">
    <a href="http://uekae.tubitak.gov.tr"><img src="/media/resimler/altmenu/01.png" alt="TÜBİTAK/UEKAE" /></a>
    <a href="/basin/"><img src="/media/resimler/altmenu/02.png" alt="Basın" /></a>
    <a href="/kariyer/"><img src="/media/resimler/altmenu/03.png" alt="Kariyer" /></a>
    <a href="/yasal/"><img src="/media/resimler/altmenu/04.png" alt="Yasal" /></a>
    <a href="/iletisim/"><img src="/media/resimler/altmenu/05.png" alt="İletişim" /></a>
</div>
  <div class="footer">
      <div class="copy">Copyright 2006 Ulusal Elektronik ve Kriptoloji Araştırma Enstitüsü. Tüm Hakkı Saklıdır.<span class="footerNav"><a href="/urunler/">Ürünler</a>   /   <a href="/hizmetler/">Hizmetler</a>   /   <a href="/hakkinda/">Hakkında</a></span></div>
    <div class="adres">TÜBİTAK - UEKAE, PK.74 41470, Gebze / Kocaeli. &nbsp;&nbsp;&nbsp;&nbsp; <a href="/kullanim_sartlari/">Kullanım Şartları</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gizlilik_politikasi/">Gizlilik Politikası</div>
  </div>
  </div>
</body>
</html>
