{% extends "base.html" %}
{% block content %}
{% for news in mainnews %}
<a href="{{ news.get_absolute_url }}"><img src="{{ news.image.file.url }}" alt="{{ news.title }}"/></a>
{% endfor %}
<div class="part kutudis">
    <div class="kutuic">
        <div class="kutuliste">
            <img src="/media/resimler/kutu/metin_kurumsal02.png" alt="Kurumsal" />
            <img src="/media/resimler/kutu/metin_bireysel01.png" alt="Bireysel" />
            <img src="/media/resimler/kutu/metin_gelistirici01.png" alt="Geliştirici" />
            <img src="/media/resimler/kutu/metin_cozumortaklari01.png" alt="Çözüm Ortakları" />
        </div>
    </div>
</div>
<div class="part">
  <div class="mbaslik"><img src="/media/resimler/mbaslik/haberler.png"/></div>
{% for news in news %}
  <div class="habercontain">
      <div class="haberpic"><img src="{{ news.image.file.url }}" width="48" height="48" alt="{{ news.title }}" /></div>
      <div class="haber"><span class="rhaberHeader"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></span><br />
    <span class="habertext">{{ news.sum|safe }}</span></div>
  </div>
{% endfor %}
</div>
<div class="partEnd">
  <div class="aligner"> <img src="/media/resimler/basari/sgk.png" width="229" height="81" /><br />
    <span class="habertext">Recently, the site received a surge in traffic from a high-profile Japanese blog and the number of visitors doubled for one day.<br />
    <br />
    If the site were hosted on a dedicated server, it's very likely the site would have been largely inaccessible, if not very slow to respond. <br />
    <br />
    Devam »</span> </div>
</div>
{% endblock %}
