{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/js/indir.js"></script>
{% endblock %}
{% block content %}
<div class="indir">
    <div class="indirbasliklar">
        <div class="indirbaslik kurulan selected">Kurulan CD</div>
        <div class="indirbaslik calisan">Çalışan CD</div>
    </div>
    <div class="aciklama ustaciklama">Bir sürüm seçin</div>
    {% for version in versions %}
    <div class="surum{% ifequal version.type 1 %} gizli calisanindir{% else %} kurulanindir{% endifequal %}" onclick="location.href='{{ version.download_link }}'">
        <div class="surumbaslik"><a href="{{ version.download_link }}">{{ version.title }}</a></div>
        <div class="aciklama">{{ version.description }}</div>
    </div>
    {% endfor %}
    <div class="indiralt"></div>
</div>
{% endblock %}
