{% extends "base.html" %}
{% block content %}
<div class="indir">
    <div class="indirbasliklar">
        <div class="indirbaslik kurulan selected">Install DVD</div>
    </div>
    <div class="aciklama ustaciklama">Pick a version</div>
    <div class="surum kurulanindir" onclick="location.href='ftp://ftp.pardus.org.tr/pub/pardus/kurulan/2009/Pardus_2009_International.iso'">
        <div class="surumbaslik"><a href="ftp://ftp.pardus.org.tr/pub/pardus/kurulan/2009/Pardus_2009_International.iso">Pardus 2009 International</a></div>
        <div class="aciklama">This release supports 11 languages.</div>
    </div>
    <div class="indiralt">You may refer to the <a href="#">release notes</a> to see what's new and unique in Pardus 2009.</div>
</div>
{% endblock %}
