<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %} :: Pardus :: TÜBİTAK/UEKAE ::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="shortcut icon" href="/media/img/fav.png" />
    <link href="/media/css/stil.css" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="header"> <a class="parduslogo" href="/"></a>
  <div class="menu">
    <div class="linkler"> <a class="mUrun" href="/urunler/"></a> <a class="mHizmet" href="/hizmetler/"></a> <a class="mHakkinda" href="/hakkinda/"></a> <a class="mBasin" href="/basin/"></a> </div>
    <a class="mDil" href="#"></a> </div>
</div>
<div id="wrapper">
<div id="container">
  <div class="main">
{% block content %}
{% endblock %}
  </div>
  <div class="sidebar"><img src="/media/resimler/sidebar/indirdownload.png" /><br />
    <div class="search">
      <div class="aramabg"></div>
    </div>
    <div class="features">
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik">Destek Alın</span><br/>
          <span class="ftext">Free documentation and community support, or buy professional support</span> </div>
      </div>
      <div class="fayrac"></div>
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik">Destek Alın</span><br/>
          <span class="ftext">Free documentation and community support, or buy professional support</span> </div>
      </div>
      <div class="fayrac"></div>
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik">Destek Alın</span><br/>
          <span class="ftext">Free documentation and community support, or buy professional support</span> </div>
      </div>
    </div>
  </div>
</div>
<div class="linksbar"><img src="/media/resimler/linkler/hepsi.png" width="929" height="71" usemap="#barmap" />
<map id="barmap" name="barmap">
  <area shape="rect" href="/iletisim/" coords="741,0,928,70" />
  <area shape="rect" href="/yasal/" coords="552,0,739,70" />
  <area shape="rect" href="/kariyer/" coords="366,0,550,70" />
  <area shape="rect" href="/basin/" coords="182,0,364,70" />
  <area shape="rect" href="http://uekae.tubitak.gov.tr" coords="0,0,180,70" />
</map>
</div>
  <div class="footer">
    <div class="copy">Copyright 2006 Ulusal Elektronik ve Kriptoloji Araştırma Enstitüsü. Tüm Hakkı Saklıdır.<span class="footerNav">Ürünler   /   Hizmetler   /   Hakkında   /   Basın</span></div>
    <div class="adres">TÜBİTAK - UEKAE, PK.74 41470, Gebze / Kocaeli. &nbsp;&nbsp;&nbsp;&nbsp; Kullanım Şartları&nbsp;&nbsp;&nbsp;&nbsp;Gizlilik Politikası</div>
  </div>
  </div>
</body>
</html>
