<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %} :: Pardus :: TÜBİTAK/UEKAE ::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="shortcut icon" href="/media/img/fav.png" />
    <link href="/media/css/stil.css" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="header"> <a class="parduslogo" href="/"></a>
  <div class="menu">
    <div class="linkler"> <a class="mUrun" href="/urunler/"></a> <a class="mHizmet" href="/hizmetler/"></a> <a class="mHakkinda" href="/hakkinda/"></a> </div>
    <a class="mDil" href="#"></a> </div>
</div>
<div id="wrapper">
<div id="container">
    <div class="main"{% block extramain %}{% endblock %}>
{% block content %}
{% endblock %}
  </div>
{% block sidebar %}
  <div class="sidebar"><a href="/indir/"><img src="/media/resimler/sidebar/indirdownload.png" /></a><br />
    <div class="search">
      <div class="aramabg"></div>
    </div>
    <div class="features">
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik"><a href="/kilavuz/">Kullanım Kılavuzu</a></span><br/>
            <span class="ftext">Pardus'un ekran görüntüleriyle adım adım kurulum ve genel kullanım kılavuzu</span> </div>
      </div>
      <div class="fayrac"></div>
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik"><a href="/destek/">Destek Alın</a></span><br/>
            <span class="ftext">Pardus desteği için topluluk kaynaklarımıza başvurabilirsiniz.</span> </div>
      </div>
      <div class="fayrac"></div>
      <div class="featuresList">
        <div class="featurePic"><img src="/media/resimler/sidebar/features/destek.png" width="40" height="50" /></div>
        <div class="featureText"> <span class="fbaslik"><a href="/banner/">Pardus'u Tanıtın</a></span><br/>
            <span class="ftext">Pardus'un tanıtımına katkıda bulunmak için Pardus afiş ve düğmeleri </span> </div>
      </div>
    </div>
  </div>
{% endblock %}
</div>
<div class="linksbar">
    <a href="http://uekae.tubitak.gov.tr"><div class="altbolum_resim"><img src="/media/resimler/altmenu/01.png" alt="TÜBİTAK/UEKAE" /></div><div class="altbolum_sag"><div class="altbolum_baslik"><img src="/media/resimler/altmenu/tubitakuekae.png" alt="TÜBİTAK/UEKAE" /></div><div class="altbolum_yazi">Enstitümüz hakkında <br />merak edilenler</div></div></a>
    <a href="/basin/"><div class="altbolum_resim"><img src="/media/resimler/altmenu/02.png" alt="Basın" /></div><div class="altbolum_sag"><div class="altbolum_baslik"><img src="/media/resimler/altmenu/basin.png" alt="Basın" /></div><div class="altbolum_yazi">Pardus basın bültenleri <br />ve hakkımızda yazılanlar</div></div></a>
    <a href="/kariyer/"><div class="altbolum_resim"><img src="/media/resimler/altmenu/03.png" alt="Kariyer" /></div><div class="altbolum_sag"><div class="altbolum_baslik"><img src="/media/resimler/altmenu/kariyer.png" alt="Kariyer" /></div><div class="altbolum_yazi">Pardus Projesi'nde <br />çalışmak için</div></div></a>
    <a href="/yasal/"><div class="altbolum_resim"><img src="/media/resimler/altmenu/04.png" alt="Yasal" /></div><div class="altbolum_sag"><div class="altbolum_baslik"><img src="/media/resimler/altmenu/yasal.png" alt="Yasal" /></div><div class="altbolum_yazi">Gizlilik politikamız<br /> ve telif hakları</div></div></a>
    <a href="/iletisim/"><div class="altbolum_resim"><img src="/media/resimler/altmenu/05.png" alt="İletişim" /></div><div class="altbolum_sag"><div class="altbolum_baslik"><img src="/media/resimler/altmenu/iletisim.png" alt="İletişim" /></div><div class="altbolum_yazi">Pardus Projesi ile nasıl iletişime geçebilirsiniz?</div></div></a>
</div>
  <div class="footer">
      <div class="copy"><div class="adres">TÜBİTAK - UEKAE, PK.74 41470, Gebze / Kocaeli. &nbsp;&nbsp;&nbsp;&nbsp; <a href="/kullanim_sartlari/">Kullanım Şartları</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/gizlilik_politikasi/">Gizlilik Politikası</div><span class="footerNav"><a href="/urunler/">Ürünler</a>   /   <a href="/hizmetler/">Hizmetler</a>   /   <a href="/hakkinda/">Hakkında</a></span></div>
  </div>
  </div>
</body>
</html>
