{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
{% endblock %}
{% block content %}
<div class="ana_baslik">İletişim</div>
<div class="iletisim_dis">
    <div class="iletisim">
        <div class="iletisim_sol">
            <div class="iletisim_baslik">Ulusal Elektronik ve Kriptoloji Araştırma Enstitüsü</div>
            <div class="iletisim_adres">
                TÜBİTAK<br/>
                Gebze - Kocaeli 41470<br/>
                E-posta: bilgi at pardus.org.tr
            </div>
        </div>
        <div class="iletisim_sag"><img src="/media/resimler/iletisim/logoiletisim.png" alt="Pardus" /></div>
    </div>
    <div class="iletisim_seciciler">
        <div class="iletisim_secici kurumsal_secici iletisim_secili">Soru Sorun</div>
    </div>
    <img id="ok" src="/media/resimler/basin/ok.png" alt="v" style="margin-top:-1px;margin-left:60px" />
    <div class="iletisim_aciklama">
        <div class="iletisim_aciklama_metin">

       Pardus'la ilk kez karşılaştıysanız ve merak ettikleriniz en temel konular  ise, işe <a href="http://www.ozgurlukicin.com/ia/">http://www.ozgurlukicin.com/ia/</a> adresinden başlayabilir ve ilk bilgilerinizi buradan edinebilirsiniz. Pardus'u nasıl edinip nasıl kuracağınız konusunda sorularınız varsa <a href="http://www.pardus.org.tr/belgeler/kurulum_nasil.html">http://www.pardus.org.tr/belgeler/kurulum_nasil.html</a> adresi size yardımcı olacaktır.<br /><br />

       Pardus 2011 DVD kalıplarına <a href="http://www.pardus.org.tr/indir/">http://www.pardus.org.tr/indir/</a> adresinden erişebilirsiniz. Ayrıca <a href="http://www.ozgurlukicin.com/dvdgonder/">http://www.ozgurlukicin.com/dvdgonder/</a> adresinden ulaşacağınız elektronik formu doldurarak Pardus DVD'nizin adresinize gönderilmesini talep edebilirsiniz.<br /><br />

Pardus ile ilgili olarak teknik bir konuda ayrıntılı bilgiye gereksiniminiz  varsa ya da karşılaştığınız bir sorun için çözüm arıyorsanız <a href="http://tr.pardus-wiki.org/Ana_Sayfa">http://tr.pardus-wiki.org/Ana_Sayfa</a> adresinde geniş bir belge ve  bilgi kaynağımız mevcuttur. Burada yanıtlarını bulamadığınız soruları <a href="http://liste.pardus.org.tr/mailman/listinfo/pardus-kullanicilari">http://liste.pardus.org.tr/mailman/listinfo/pardus-kullanicilari</a> adresinden  üye olabileceğiniz Pardus kullanıcıları e-posta listesine ya da <a href="http://www.ozgurlukicin.com/forum/">http://www.ozgurlukicin.com/forum/</a> adresinden erişebileceğiniz Özgürlük İçin forumlarına yöneltebilirsiniz.<br/><br/>

Pardus ürününde bir hata tespit ettiyseniz <a href="http://hata.pardus.org.tr/">http://hata.pardus.org.tr/</a> adresinden bir hata kaydı açabilirsiniz. Bu yolu seçmeden önce hatanın üründen kaynaklandığından ve geliştiricilerimizin hata ile  ilgili olarak soracakları teknik soruları yanıtlayabileceğinizden emin  olmanız yerinde olacaktır. Aksi taktirde önce e-posta listeleri ve forumlara başvurmanızda yarar vardır.<br/><br/>


Bir üniversite, lise ya da sivil toplum kuruluşundansanız ve Pardus ile ilgili bir tanıtım ya da seminer düzenlememizi ya da bu tip bir etkinliğe destek olmamızı istiyorsanız talebinizi seminer@pardus.org.tr adresine iletebilirsiniz.Bir bilişim şirketinde görevliyseniz ve Pardus kullanarak ürün, çözüm ya da iş geliştirme üzerine sorularınız ve fikirleriniz varsa ya da mevcut logo programlarından birine dahil olmak istiyorsanız is-ortagi@pardus.org.tr adresinden ilgili birimlerimiz ile bağlantıya geçebilirsiniz.<br/><br/>


Bunların dışında bir sorunuz varsa aşağıda yer alan form aracılığıyla bizimle irtibata geçebilirsiniz. 

        </div>
    </div>
    <div class="iletisim_form">
        {% if mail_sent %}
        <h2>İletiniz ilgili kişilere gönderilmiştir.<h2>
        {% else %}
        <form method="POST" action="">
            <div class="iletisim_form_alan iletisim_form_kucuk_alan">
                <div class="iletisim_baslik iletisim_form_alan_baslik">İsim</div>
                <div class="iletisim_form_alan_aciklama">{{ form.name.errors }}</div>
                <div class="iletisim_form_alan_alan">{{ form.name }}</div>
            </div>
            <div class="iletisim_form_alan iletisim_form_kucuk_alan">
                <div class="iletisim_baslik iletisim_form_alan_baslik">E-posta</div>
                <div class="iletisim_form_alan_aciklama">{{ form.email.errors }}</div>
                <div class="iletisim_form_alan_alan">{{ form.email }}</div>
            </div>
            <div class="iletisim_form_alan">
                <div class="iletisim_baslik iletisim_form_alan_baslik">Sorunuz</div>
                <div class="iletisim_form_alan_aciklama">{{ form.text.errors }}</div>
                <div class="iletisim_form_alan_alan">{{ form.text }}</div>
            </div>
            <div class="iletisim_form_alan iletisim_form_captcha">
                <div class="iletisim_baslik iletisim_form_alan_baslik">{{ form.captcha.label }}</div>
                <div class="iletisim_form_alan_aciklama">{{ form.captcha.errors }}</div>
                <div class="iletisim_form_alan_alan">{{ form.captcha }}</div>
            </div>
            <input type="submit" value="Gönder" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
