{% extends "base.html" %}
{% block content %}
<div class="indir">
    <div class="indirbasliklar">
        <div class="indirbaslik selected">Kurulan CD</div>
        <div class="indirbaslik">Çalışan CD</div>
    </div>
    <div class="aciklama ustaciklama">Bir sürüm seçin</div>
    <div class="surum">
        <div class="surumbaslik">Pardus 2009</div>
        <div class="aciklama">2010'a kadar desteklenecek sürüm.</div>
    </div>
    <div class="surum">
        <div class="surumbaslik">Pardus 2009</div>
        <div class="aciklama">2010'a kadar desteklenecek sürüm.</div>
    </div>
    <div class="surum gizli"></div>
    <div class="surum gizli"></div>
    <div class="indiralt"></div>
</div>
{% endblock %}
