{% extends "base.html" %}
{% block content %}
<a href="/eng/basin/" class="basin_baglanti">« Press Archive</a>
<div class="basin_tepe">
    <p>{{ page.issue.title }}<br/><br/>
    {{ page.issue.publication }}, {{ page.issue.date }}<br/>
    {% if page.number %}<span class="basin_sayfa">page {{ page.number }}</span>{% endif %}
    </p>
</div>
<img src="{{ page.image.url }}" alt="{{ page }}" class="basin_resim" />
{% endblock %}
{% block sidebar %}{% endblock %}
{% block extramain %}style="width:930px"{% endblock %}
