{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/js/indir.js"></script>
{% endblock %}
{% block content %}
<div class="indir">
    <div class="indirbasliklar">
        <div class="indirbaslik kurulan selected">Install DVD</div>
        <div class="indirbaslik calisan">Live DVD</div>
    </div>
    <div class="aciklama ustaciklama">Choose a version.</div>
    {% for download in downloads %}
    <div class="surum{% ifequal download.type 1 %} gizli calisanindir{% else %} kurulanindir{% endifequal %}" onclick="location.href='{{ download.link }}'">
        <div class="surumbaslik"><a href="{{ download.link }}">{{ download.title }}</a></div>
        <div class="aciklama">{{ download.description }}</div>
    </div>
    {% endfor %}
    <div class="indiralt">You may refer to the <a href="{{ version.get_release_notes_url }}">release notes</a> to see what's new and unique in {{ version.name }}.</div>
</div>
{% endblock %}
